@use "../../scss/variables" as vars;
@use "../../scss/mixins" as mixins;
@use "sass:color";

.product-list {
  @include mixins.flex(row, center, 1rem);
  margin: 1rem;

  .card {
    width: 350px;
    height: vars.$cardHeight;
    position: relative;
    overflow: hidden;

    .price {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: vars.$cardBgColor;
      color: vars.$cardColor;
      padding: vars.$cardPadding;
      font-size: 0.9rem;
      border-radius: vars.$borderRadius;
      z-index: 2;
    }

    &_over {
      position: absolute;
      width: 100%;
      z-index: 3;
      bottom: 0;
      background-color: vars.$cardBgColor;
      color: color.adjust(vars.$cardColor, $lightness: -50%);
      font-size: 1.2rem;
      border-radius: vars.$borderRadius;
      transform: translateX(100%);
      transition: all 1s;
      height: 25%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &:hover .card_over {
      transform: translateX(0%);
    }

    &:hover .img {
      filter: none;
    }
  }

  img {
    width: 100%;
    height: vars.$cardHeight;
    border-radius: vars.$borderRadius;
    filter: sepia(1);
  }
}
